[requires]
python_version = "3.12"

[packages]
pyyaml = "*"
django = "*"
djangorestframework = "*"
jsonschema = "*"
django-cors-headers = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
black = "*"
flake8 = "*"
yamllint = "*"
yamlfix = "*"

[scripts]
lint = "flake8 ."
make = "C:\\ProgramData\\chocolatey\\bin\\make.exe -f Makefile"
run-server = "python manage.py runserver"
