[requires]
python_version = "3.*"

[packages]
pyyaml = "*"
jsonschema = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
black = "*"
flake8 = "*"

[scripts]
lint = "flake8 ."
make = "C:\\ProgramData\\chocolatey\\bin\\make.exe -f Makefile"