[requires]
python_version = "3.*"

[packages]
pyyaml = "*"
yamllint = "*"
django = "*"
djangorestframework = "*"
jsonschema = "*"
django-cors-headers = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
black = "*"
flake8 = "*"

[scripts]
lint = "flake8 ."
make = "C:\\ProgramData\\chocolatey\\bin\\make.exe -f Makefile"
run-server = "python manage.py runserver"